body {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    height: 100vh;
    background: linear-gradient(to right, #d99191, #14bc1c);
  }
  
  h1 {
    text-align: right;
    color: #191111;
  }
  /*color selection buttons*/
  .controls {
    margin-top: 90px;
    text-align: left;
    
  }
  
  label {
    color: #050605;
    margin-right: 10px;
    font-size: 25px;
   
  }
  /*generator nutton*/
  button {
    margin-top: 0;
    display: block;
    padding: 10px 20px;
    margin-left: 0;
    font-size: 16px;
    background-color: #14bc1c;
    border-radius: 4px;
    
  }
  